@import 'tailwindcss';

@keyframes blink-red {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: red;
  }
  100% {
    border-color: transparent;
  }
}

